.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.[Rr]ds
*.pt
*LMEDS*
audio/
*.wav
venv
modelling/dtw.c
modelling/dtw.*.so
modelling/build/
modelling/__pycache__/
modelling/reps/
modelling/checkpoints/
modelling/mfa/
*.npy
paper/
